
.icon-gamejolt:before { content: '\e800'; } /* '' */
.icon-itchio:before { content: '\e801'; } /* '' */
.icon-tiktok:before { content: '\e802'; } /* '' */
.icon-twitter_x:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
